body {
    margin: 0;
    background-color: #060607;
    font-family: 'Red Hat Display', sans-serif;
    color:#ECFAFF;
    font-weight: 400;
    font-family: 'Red Hat Display', sans-serif;
    color:#ECFAFF;
    font-weight: 400;
}

.card text {
    color:#ECFAFF
    font-family: 'Red Hat Display', sans-serif;

}

.card-body {
    color: #ECFAFF;
    font-family: 'Red Hat Display', sans-serif;

}

.skill-header {
    font-size: 100px;
    margin-bottom: 5vh;
    font-family: 'Red Hat Display', sans-serif;
    color:#ECFAFF;


}   


h5 {
    color: #9CD5EE;
    font-family: 'Red Hat Display', sans-serif;

}

#name {
    font-size: 100px;
    position: relative;
    top: 55vh;
    font-family: 'Red Hat Display', sans-serif;
    color:#ECFAFF;


}

.under-name {
    width: 50vw;
    list-style-type: none;
    position: relative;
    left:22vw;
    top: 55vh;
    font-family: 'Red Hat Display', sans-serif;

}

.descriptor {
    color: #ECFAFF;
    position: absolute;
    font-family: 'Red Hat Display', sans-serif;
    color:#ECFAFF;
    left: 75vw;
    bottom: 25vh;
    text-align: left;

}

.blue-text {
    color: #9CD5EE;
}
.UXSkills {
    height: 100vh;
    font-family: 'Red Hat Display', sans-serif;
    color:#ECFAFF;


}

.MyWork {
    height: 30vh;
    font-family: 'Red Hat Display', sans-serif;

}
.work-head {
    text-align: center;
    position: relative;
    top: 30vh;
    width: 30%;
    font-family: 'Red Hat Display', sans-serif;


    
}

.work-card {
    width: 70%
}


.work-h1 {
    font-size: 125px;
    font-family: 'Red Hat Display', sans-serif;

}

#blue-border {
    border: solid 3px #9CD5EE;
}

.mr-auto {
    margin-left: 3%;
    padding: 5px;
    width: 50px;
    height: 70px;
    

}

.navigation {
    font-family: 'Red Hat Display', sans-serif;
    color:#ECFAFF;
    list-style-type: none;
 
}

.white-text {
    font-family: 'Red Hat Display', sans-serif;
    color:#ECFAFF;

}

#about h5 {
    color:#ECFAFF;

}

#work h5 {
    color: #9CD5EE;
    font-size: 20px;

}

#about {
    padding: 10px;
}

#about p {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 14px;

   

}#work card-title {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 32px;
}

.underneath-name {
    display: none;
}

#portfolio-logo {
    margin-left: 3%;
    padding: 5px;
    width: 50px;
    height: 70px;
    

}

.nav-link {
    font-family: 'Red Hat Display', sans-serif;
    color:#ECFAFF !important;


}

.navbar-toggler {
background-color: transparent !important;
}

.navbar-toggler-icon {
    color: #9CD5EE !important;

}

.navbar-light .navbar-toggler-icon {
    background-image:url("../images/Frame\ 283.png") !important;

}

.nav-fix {
z-index: 2;

}

.hero-fix {
z-index: ;

}

#work-image {

}
@media only screen and (max-width: 768px) {
    .UXSkills {
      display: none;  
    }
 .MyWork {
 }
 .work-mobile {
    width: 100%;
 }

    #name {
        font-size: 20px;
        font-family: 'Red Hat Display', sans-serif;
        color:#ECFAFF;
        top:24vh;
    }
    .underneath-name {
        display: flex;
        font-size: 16px;
        font-family: 'Red Hat Display', sans-serif;
        color:#ECFAFF;
        position: relative;
        top: 150px;

    }

    .descriptor {
        display: none;
    }
.work-card {
    width: 100%;
}

.work-head {
    width:100%;
}

}





