body {
    margin: 0;
    background-color: #060607;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    overflow-y: auto;
    color:#ECFAFF

}

body.white-text {
    color: #ECFAFF
}



nav li{
    margin: 5px;
    padding: 5px;
    font-size: 24px;
    list-style-type: none;
    text-decoration: none;
}
.descriptor {
    align-items: flex-start;
}