body {
    margin: 0;
    background-color: #060607;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    overflow-y: auto;
    color:#ECFAFF

}

body.white-text {
    color: #ECFAFF
}

.card-text {
    color:#ECFAFF !important;

}